<div class="tab-content">
  <div class="tab-pane" id="1">
    <ul class="nav nav-tabs nav-stacked content">
      <li>Challenge Name
        <div class="challenge-content hidden">
          <!-- image -->
          <!-- description -->
        </div>
      </li>
    </ul>
  </div>
</div>
