<div class="tab-content">
  <% @challenges.each do |challenge| %>
    <div class="tab-pane" id="<%=challenge.phase.name%>">
      <ul class="nav nav-tabs nav-stacked content">
        <% @challenges.each do |challenge| %>
          <%= render 'challenge_content', :challenge => challenge %>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
