<div class="tab-content">
  <div id="<%=challenges[0].unit.phase.id%>">
    <ul class="nav nav-tabs nav-stacked content">
      <% challenges.each do |challenge| %>
      <li>
        <%= link_to challenge.name, challenge_path(challenge), remote: true, class: "challenge-link" %>
      </li>
      <% end %>
    </ul>
  </div>
</div>
