<li>
  <%= link_to challenge.name, '#' %>
  <div class="challenge-content hidden">
    <%= image_tag "http://hdwallsize.com/wp-content/uploads/2013/06/Bunnies-Rabbit-Cute-Wallpaper.jpg" %>
    <%= challenge.description %>
  </div>
</li>
