<% challenges = {testing: "one", two: "three"} %>
<div class="tab-content">
  <% challenges.each do |phase, challenges| %>
    <div class="tab-pane" id="<%=phase%>">
      <ul class="nav nav-tabs nav-stacked content">
      </ul>
    </div>
  <% end %>
</div>
