<ul class="nav nav-tabs units">
  <% @phase_units.each do |phase_unit_string| %>
    <li><%= link_to phase_unit_string, "www.google.com"  %></li>
  <% end %>
</ul>

<!-- , "", :"data-toggle" => "##{phase}"  -->
<!-- render(:partial => "challenges") -->