<ul class="nav nav-tabs units">
  <% @phase_units.each_with_index do |phase_unit_string, idx| %>
    <li><%= link_to phase_unit_string, "/", data: {unit_id: @phase_unit_ids[idx]} %></li>
  <% end %>
</ul>
<!-- challenges should be pasted starting here -->
<div class="tab-content">
  <div class="tab-pane" id="1">
    <ul class="nav nav-tabs nav-stacked content">
      <div class="challenge-area"></div>
    </ul>
  </div>
</div>

<li class="challenge-item hidden"><a href="#">Challenge Name 2</a>
  <div class="challenge-content hidden">
    <!-- image -->
    <!-- description -->
  </div>
</li>