<ul class="nav nav-tabs units">
  <% @units.each do |phase| %>
  <li><%= link_to phase.name, unit_path(phase), {:"data-toggle" => "##{phase.name}", :remote => true, :class => "phase_link"} %></li>
  <% end %>
</ul>
